policy_module(arcanist,0.3)

gen_require(`
  type libphutil_t;
  type unconfined_t;
')


# Private type declarations
type arcanist_t;
type arcanist_exec_t;

type arcanist_etc_t;
files_config_file(arcanist_etc_t)

type arcanist_log_t;
logging_log_file(arcanist_log_t)

# ----

# access libphutil
read_files_pattern(arcanist_t,libphutil_t,libphutil_t)

can_exec(unconfined_t, arcanist_t)
